.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Div principal donde se cargan todos los modulos*/
.main_white_div {
  width: 70vw;
  height: 80%;
  border-radius: 20px;
  background-color: white;
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 15%;
  left: 18.5%;
  right: 20%;
  margin: -25px 0 0 -25px; /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
}

/*Estilos para el titulo y subtitulo*/
/*Estilos generales del DIV que
  contiene titulo y subtitulo*/
.div_title {
  width: 100%;
  height: 20%;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
}

/*Estilos particulares del TITULO*/
.main_title {
  background-color: lightgrey;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  border: 0px;
  margin-bottom: 5px;
  margin-top: 20px;
}

/*Estilos particulares del TITULO*/
.subtitle {
  background-color: lightgrey;
  font-family: 'Poppins', sans-serif;
  margin-top: 0%;
}

/*Estilos para los divs de modulos*/
/*MODULES:
Estilo para el contenedor de los modulos*/
.div_modules {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 90%;
  border-radius: 0px 0px 20px 20px;
}

/*MODULES:
  Estilo general para los modulos*/
.module {
  flex: 1 1 auto;
  width: 50%;
  height: 77%;
  padding-left: 20px;
}

/*MODULES:
  Estilo particular para el modulo
  donde se muestra las tarjetas de
  informacion*/
.userInfoCard {
  height: 24em;
  border-left: 3px solid green;
  border-radius: 0px 0px 20px 0px;
  padding-top: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;

}

/*Estilo para el scroll de la seccion donde
  se muestran las tarjetas con información*/
.userInfoCard::-webkit-scrollbar {
  display: none;
}

/*MODULES:
  Estilo particular para el modulo
  donde se captura la información*/
.infoCapture {
  padding-top: 8px;
  background-color: white;
  border-radius: 0px 0px 0px 20px;
}

/*Estilos del form*/
/*FORM: Estilos generales del INPUT y SELECT*/
input[type=text], select {
  width: 90%;
  padding: 5px 15px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*FORM: Margen inferior de los INPUT*/
input[type=text] {
  margin-bottom: 30px;
}

/*FORM: Estilo particular del BOTON GUARDAR*/
.bton_guardar {
  background-color: #4CAF50;
  color: white;
  width: 30%;
  padding: 8px 15px;
  margin: 8px;
  margin-top: 20px;
  margin-right: 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  float: right;
}

/*FORM: Estilo particular del BOTON GUARDAR
  al pasar el mouse por encima*/
.bton_guardar:hover {
  background-color: #45a049;
}

/*FORM: Estilo particular de las etiquetas
  del form*/
.label_style {
  font-family: 'Poppins', sans-serif;
  font-weight: 6px;
}

/*Estilos de la tarjeta en que se muestra
  la info del usuario registrado*/
.div_card {
  border-radius: 5px 5px 5px 5px;
  border-color:solid green;
  background-color: white;
  border: 2px solid #e7e7e7;
  width: 95%;
  height: 15%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.div_card:hover{
  background-color: #e7e7e7;
}

/*Estilo general de los botones que aparecen
  en la tarjeta del usuario*/
.usr_btns {
  border: none;
  color: black;
  padding: 5px 9px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
  margin-right: 5px;
  margin-top: 7px;
  font-family: 'Poppins', sans-serif;
}

/*Estilo particular del BOTON EDITAR*/
.edit {background-color: white; border: 2px solid #4b134f;}
.edit:hover {background: #4b134f; color: white;}

/*Estilo particular del BOTON BORRAR*/
.delete {
  background-color: #4b134f; border: 2px solid #4b134f;
  color: white;
}

/*Estilo particular de la etiqueta que contiene
  la INFORMACION DEL USUARIO*/
.p_UserInfo {
  font-family: 'Poppins', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.p_NoRegistros {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(60%, -50%);
}




/* Estilos para @media:
  Configuracion para que se distribuyan los elementos
  según la resolucion de la pantalla del navegador.
  En especial, para que el titulo disminuya de tamaño
  y los modulos se conviertan en filas en lugar de columnas*/
  @media (max-width: 800px) {
    .div_modules {
      flex-flow: column;
    }

    .module {
      width: 100%;
    }

    .main_title {
      font-size: 20px;
    }

    .subtitle {
      display: none;
    }
  }

  @media (max-width: 500px) {
    .subtitle {
      display: none;
    }
  }

  @media (max-height: 500px){
    .main_title {
      font-size: 20px;
    }

    .subtitle {
      display: none;
    }

    .userInfoCard {
      height: 13em;
      border-left: 3px solid green;
      border-radius: 0px 0px 20px 0px;
      padding-top: 5px;
      overflow-x: hidden;
      overflow-y: scroll;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
    }

  }

  @media (max-height: 300px){
    .main_title {
      font-size: 10px;
    }

    .subtitle {
      display: none;
    }

    .userInfoCard {
      height: 10em;
      border-left: 3px solid green;
      border-radius: 0px 0px 20px 0px;
      padding-top: 5px;
      overflow-x: hidden;
      overflow-y: scroll;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
    }
  }
